/*====== Smooth Scroll and Smooth Page Loading =====*/
html {
    scroll-behavior: smooth;
    position: relative;
    animation-name: element_animation;
    animation-duration: 1.5s;
  }

  @keyframes element_animation {
    0%   { opacity: 0;}
    100% { opacity: 1;}
  }